.pagination-container {
    position: relative;
  display: block;
  float: right;
  }

  .pagination-numbers {
      float: right;
  }
   
  .pagination-number,
  .pagination-numbers span,
  .pagination-button{
    font-size: 14px;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: .2rem;
  }
   
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
   
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }